#header {
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	background-color: lightgrey;
	border-bottom: 1px solid darkgrey;
	margin-bottom: 20px;
}

#footer {
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	border-bottom: 1px solid darkgrey;
	background-color: lightgrey;
	position: absolute;
	bottom: 0;
	text-align: center;
	padding: 20px;
}

body {
	margin: 0;
}