{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Diagnose.Me</title>
	<link rel="stylesheet" type="text/css" 
	href="{% static 'root/main.css' %}"/>
	<link rel="icon" href="{% static 'root/icon.png' %}">
</head>

<body>
	<div class="header">
		<div class="wrap">
			{% if user.is_authenticated %}
				<p style="float:right; margin-right: 20px">Signed in as <b><a href="profile">{{user.username}}</a></b>, <a href="/logout_user" style="color: #00a2e8; font-size: 17px">Sign Out?</a></p>
			{% else %}
				<p style="float:right; margin-right: 20px">Welcome! <a href="/" style="color: #00a2e8; font-size: 17px">Sign In</a></p>
			{%endif%}
			<div class="logo"></div>
			<div class="clr"></div>
			<br />
			<div class="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/startDiagnosis">Start Diagnosis</a></li>
				<li><a href="/searchDiseases">Search Diseases</a></li>
				<li><a href="/aboutUs">About Us</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
			</div>
			<br />
			<br />
			<br />
		</div>
	</div>
	<div class="border"></div>

	<div class="wrap">
		<div class="content">
			<h1>About Us</h1>
			<p>Team Debonair is a dedicated group of professionals working towards a healthier tomorrow. We seek to put the power of healthcare in your hands.</p>
			<br/>
			<div>
				<div class="member">
					<center><div class="shane"></div></center>
					<p>Shane Baskin</p>
				</div>
				<div class="member">
					<center><div class="rodney"></div></center>
					<p>Rodney Wells</p>
				</div>
				<div class="member">
					<center><div class="brae"></div></center>
					<p>Brae Feerrar</p>
				</div>
				<div class="member">
					<center><div class="andreas"></div></center>
					<p>Andreas Vermeulen</p>
				</div>
				<div class="member">
					<center><div class="luke"></div></center>
					<p>Luke Porupski</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="footer">
		<div class="wrap">
			<ul class="footerMenu">
				<li><a href="/privacyPolicy">Privacy Policy</a></li>
				<li><a href="/termsConditions">Terms and Conditions</a></li>
				<li><a href="/contact">Contact Us</a></li>
			</ul>
			<p class="copyright">&copy; 2017 Diagnose.Me - A Service by Debonair Database Designers</p>
		</div>
	</div>
</body>
</html>