<link rel="stylesheet" type="text/css" href="/static/root/css/styles.css">
<div>
    <div> 
      <h1> DIAGNOSE.ME </h1>
    </div>
    <div>
        <h2> Sort illness database by attribute </h2>
        <ul>
            <li>Prevalence</li>
            <li>Affected Area of the Body</li>
            <li></li>
        </ul>
    </div>
    <ul>
        <li><a href="{% url 'remedy_list' %}">{{ 'Remedy List' }}</a></li>
        <li><a href="{% url 'illness_list' %}">{{ 'Illness List' }}</a></li>
    </ul>
    
</div>