{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Diagnose.Me</title>
	<link rel="stylesheet" type="text/css" 
	href="{% static 'root/main.css' %}"/>
	<link rel="icon" href="{% static 'root/icon.png' %}">
</head>

<body>
	<div class="header">
		<div class="wrap">
			<div class="logo"></div>
			<div class="clr"></div>
			<br />
			<div class="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/startDiagnosis">Start Diagnosis</a></li>
				<li><a href="/searchDiseases">Search Diseases</a></li>
				<li><a href="/aboutUs">About Us</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
			</div>
			<br />
			<br />
			<br />
		</div>
	</div>
	<div class="border"></div>

	<div class="wrap">
		<div class="content">
			<h1>{{ illness.name }}</h1>
			<h1>Illness ID: {{illness.illid}}</h1>
			<h2>Description</h2>
			<p>{{illness.description}}</p>
			<h2>Prevalence</h2>
			<p>{{illness.prevalence}} per 1,000 peoples.</p>
			<h2>Severity</h2>
			<p>{{illness.severity}}% mortality rate.</p>
			<h2>Cause</h2>
			<p>{{illness.cause}}</p>
			<h2>Affected area of the Body</h2>
			<p>{{illness.areaofbody}}</p>
			<h2>Category</h2>
			<p>This illness is considered '{{illness.category}}'</p>
      		<form id="searchform" action="{% url 'remedy_list' %}" method="get" accept-charset="utf-8">
      				<button class="searchbutton" type="submit">
      					Search for remedies
        			<i class="fa fa-search"></i>
      				</button>
      			<input type="hidden" name="q" value="{{ illness.illid }}">
    		</form>
    		<br/>
    		<form id="searchform" action="{% url 'doctor_list' %}" method="get" accept-charset="utf-8">
      				<button class="searchbutton" type="submit">
      					Find a professional
        			<i class="fa fa-search"></i>
      				</button>
      			<input type="hidden" name="q" value="{{ illness.illid }}">
    		</form>
    		<br/>
    		{% if user.is_authenticated %}
    		<form id="searchform" action="{% url 'addDiagnosis' %}" method="get" accept-charset="utf-8">
      				<button class="searchbutton" type="submit">
      					Confirm Diagnosis
        			<i class="fa fa-search"></i>
      				</button>
      			<input type="hidden" name="q" value="{{ illness.illid }}">
    		</form>
    		<br/>
    		{% endif %}
		</div>
	</div>
	<div class="footer">
		<div class="wrap">
			<ul class="footerMenu">
				<li><a href="/privacyPolicy">Privacy Policy</a></li>
				<li><a href="/termsConditions">Terms and Conditions</a></li>
				<li><a href="/contact">Contact Us</a></li>
			</ul>
			<p class="copyright">&copy; 2017 Diagnose.Me - A Service by Debonair Database Designers</p>
		</div>
	</div>
</body>
</html>
