{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Diagnose.me</title>
	<link rel="stylesheet" type="text/css" 
	href="{% static 'root/main.css' %}"/>
	<link rel="icon" href="{% static 'root/icon.png' %}">
</head>
<body>
	<div id="header">		
		<h1>Diagnose.me</h1>
		<h5>Get Ready to Get Diagnosed!</h5>
	</div>
	
	<div id="loginform">
		<form style="text-align: center;" method="post">
			{% csrf_token %}
			<h3>Sign In</h3>
			<input type="text" name="username">
			<br>
			<input type="password" name="password">
			<br>
			<input type="submit" value="Sign In"></button>
			<br>
			<div><b>or</b></div>			
			<a href="newaccount">Register a New Account</a>
		</form>
	</div>

	<div id="footer">
		<div>Diagnose.me - A Product by Debonair Database Designers</div>
	</div>
</body>
</html>


