{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Diagnose.me</title>
	<link rel="stylesheet" type="text/css" 
	href="{% static 'root/main.css' %}"/>
	<link rel="icon" href="{% static 'root/icon.png' %}">
</head>
<body style="background-color:powderblue;">
	<div id="header" style="background-color:white;">		
		<h1>Diagnose.me</h1>
		<h5>Get Ready to Get Diagnosed!</h5>
	</div>
	
	<div id="loginform">
		<form style="text-align: center; background-color:white" method="post">
			{% csrf_token %}
			<h3>Create New Account</h3>
			<input type="text" name="username">
			<br>
			<input type="password" name="password">
			<br>
			<input type="submit" value="Create Account"></button>
			<br>
			<div><b>or</b></div>				
			<a href="/">Already have an account?</a>
		</form>	
	</div>
	

	<div id="footer" style="background-color:white;">
		<div>Diagnose.me - A Product by Debonair Database Designers</div>
	</div>
</body>
</html>


