{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Diagnose.Me</title>
	<link rel="stylesheet" type="text/css" 
	href="{% static 'root/main.css' %}"/>
	<link rel="icon" href="{% static 'root/icon.png' %}">
</head>

<body>
	<div class="header">
		<div class="wrap">
			<div class="logo"></div>
			<div class="clr"></div>
			<br />
			<div class="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/startDiagnosis">Start Diagnosis</a></li>
				<li><a href="/searchDiseases">Search Diseases</a></li>
				<li><a href="/aboutUs">About Us</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
			</div>
			<br />
			<br />
			<br />
		</div>
	</div>
	<div class="border"></div>

	<div class="wrap">
		<div class="content">
			<form method="post" action="{% url 'createnewaccount' %}">
				{% csrf_token %}
				<h1>Create New Account</h1>
				<fieldset>
					<legend>Account Information</legend>
					<div class="formContent">
						First Name <input type="text" name="firstname" style="font-size: 15px; float: right" size="15px" placeholder="First Name">
						<br/>
						<br/>
						Last Name <input type="text" name="lastname" style="font-size: 15px; float: right" size="15px" placeholder="Last Name">
						<br/>
						<br/>
						Email Address <input type="email" name="email" style="font-size: 15px; float: right" size="15px" placeholder="Email" required>
						<br/>
						<br/>
						Username <input type="text" name="username" style="font-size: 15px; float: right" size="15px" placeholder="Username" required>
						<br/>
						<br/>
						Password <input type="password" name="password" style="font-size: 15px; float: right" size="15px" placeholder="Password" required>
						<br/>
						<br/>
						Reenter Password <input type="password" name="verifypassword" style="font-size: 15px; float: right" size="15px" placeholder="Reenter Password" required>
					</div>
				</fieldset>
				<br/>
				<fieldset>
					<legend>Medical Information</legend>
					<div class="formContent">
						Gender <select name="gender" style="font-size: 15px; float: right" class="inputSize">
							<option value="" class="notAnOption" selected>Select Gender</option>
							<option value="male">Male</option>
							<option value="female">Female</option>
						</select>
						<br/>
						<br/>
						Date of Birth <input type="date" name="dob" style="font-size: 15px; float: right" class="inputSize">
						<br/>
						<br/>
						Height(inches) <input type="number" name="height" style="font-size: 15px; float: right" class="inputSize" placeholder="0">
						<br/>
						<br/>
						Weight(lbs) <input type="number" name="weight" style="font-size: 15px; float: right" class="inputSize" placeholder="0">
						<br/>
						<br/>
						Do you smoke? <select name="issmoker" style="font-size: 15px; float: right" class="inputSize">
							<option value="" class="notAnOption" selected>Select Answer</option>
							<option value="False">No</option>
							<option value="True">Yes</option>
						</select>
						<br/>
						<br/>
						Race <select name="race" style="font-size: 15px; float: right" class="inputSize">
							<option value="" class="notAnOption" selected>Select Race</option>
							<option value="White">White</option>
							<option value="Hispanic">Hispanic</option>
							<option value="African American">African American</option>
							<option value="Native American">Native American</option>
							<option value="Asian/Pacific Islander">Asian/Pacific Islander</option>
							<option value="Other">Other</option>
						</select>
					</div>
				</fieldset>
				<br/>
				<div style="text-align: center">
					<input type="submit" value="Create Account" style="font-size: 15px"></button>
					<br/>
					<br/>
					<a href="/">Already have an account?</a>
					<br/>
					<br/>
				</div>
			</form>
		</div>
	</div>

	<div class="footer">
		<div class="wrap">
			<ul class="footerMenu">
				<li><a href="/privacyPolicy">Privacy Policy</a></li>
				<li><a href="/termsConditions">Terms and Conditions</a></li>
				<li><a href="/contact">Contact Us</a></li>
			</ul>
			<p class="copyright">&copy; 2017 Diagnose.Me - A Service by Debonair Database Designers</p>
		</div>
	</div>
</body>
</html>