{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Diagnose.Me</title>
	<link rel="stylesheet" type="text/css" 
	href="{% static 'root/main.css' %}"/>
	<link rel="icon" href="{% static 'root/icon.png' %}">
</head>

<body>
	<div class="header">
		<div class="wrap">
			{% if user.is_authenticated %}
				<p style="float:right; margin-right: 20px">Signed in as <b><a href="profile">{{user.username}}</a></b>, <a href="/logout_user" style="color: #00a2e8; font-size: 17px">Sign Out?</a></p>
			{% else %}
				<p style="float:right; margin-right: 20px">Welcome! <a href="/" style="color: #00a2e8; font-size: 17px">Sign In</a></p>
			{%endif%}
			<div class="logo"></div>
			<div class="clr"></div>
			<br />
			<div class="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/startDiagnosis">Start Diagnosis</a></li>
				<li><a href="/searchDiseases">Search Diseases</a></li>
				<li><a href="/aboutUs">About Us</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
			</div>
			<br />
			<br />
			<br />
		</div>
	</div>
	<div class="border"></div>

	<div class="wrap">
		<div class="content">
			<h1 style="text-align: center">Privacy Policy</h1>
			<p>Protecting your private information is our priority. This Statement ofPrivacy applies to the Diagnoseme.com and Diagnose.Me and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to Diagnose.Me include Diagnoseme.com and D.M. the D.M website is a Personal Healthcare site. By using the D.M website, you consent to the data practices described in this statement.</p>
			<h5>Collection of your Personal Information</h5>
			<p>D.M may collect personally identifiable information, such as your name. If you purchase D.M's products and services, we collect billing information and credit card information. This information is used to complete the purchase transaction. D.M may also collect anonymous demographic information, which is not unique to you, such as your age, gender and medical information. We may gather additional personal or non-personal information in the future.</p>
			<p>Information about your computer harware and software may be automatically collected by D.M. This information can include: your IP address, browser type, domain names, access times and referring website address. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the D.M website.</p>
			<p>D.M encourages you to review the privacy statements of websites you choose to link to from D.M so that you can understand how those websites collect, use and share your information. D.M is not responsible for the privacy statements or other content on websites outside of the D.M website.</p>
			<h5>Use of your Personal Information</h5>
			<p>D.M collects and uses your personal information to operate its website(s) and deliver the services you have requested.</p>
			<p>D.M may also use your personally identifiable information to inform you of other products or services available from D.M and its affiliates. D.M may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered.</p>
			<p>D.M does not sell, rent or lease its customer lists to third parties.</p>
			<p>D.M may share data with trusted partners to help perform statistical analysis, send you emails or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to D.M, and they are required to maintain the confidentiality of your information.</p>
			<p>D.M will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that suck action is necessary to: (a) conform to the edicts of the law or comply with legal process served on D.M or the site; (b) protect and defend the rights or property of D.M; and, (c) act under exigent circumstances to protect the personal safety of users of D.M, or the public</p>
			<h5>Use of Cookies</h5>
			<p>The D.M website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.</p>
			<p>One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize D.M pages, orregister with D.M site or services, a cookie helps D.M to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same D.M website, the information you previously provided can be retrieved, so you can easily us ethe D.M features that you customized.</p>
			<p>You have the ability to accept or decline copokies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the D.M services or websites you visit.</p>
			<h5>Security of your Personal Information</h5>
			<p>D.M secures your personal information from unauthorized acceess, use or disclosure.</p>
			<h5>Children Under Thirteen</h5>
			<p>D.M does not knowlingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or gardian for permission to use the website.</p>
			<h5>Opt-Out and Unsubscribe</h5>
			<p>We respect your privacy and give you an oppertunity to opt-out of recieving announcements of certain information. Users may opt-out of recieving any or all communications from D.M by contacting us here: support@diagnoseme.com</p>
			<h5>Changes to this Statement</h5>
			<p>D.M will occansionally update this Statement of Privacy to reflect company and customer feedback. D.M encourages you to periodically review this Statement to be informed of how D.M is protecting your information.</p>
			<h5>Contact Information</h5>
			<p>D.M welcomes your questions or comments regarding this Statement of Privacy. If you believe that D.M has not adhered to this Statement, please contact D.M at:</p>
			<br/>
			<p>Diagnose.Me</p>
			<p>Old Main</p>
			<p>State College, Pennsylvania 16801</p>
			<br/>
			<p>Email Address:</p>
			<p>support@diagnoseme.com</p>
			<br/>
			<p>Telephone number:</p>
			<p>4129999999</p>
			<br/>
			<p>Effective as of April 01, 2017</p>
		</div>
	</div>

	<div class="footer">
		<div class="wrap">
			<ul class="footerMenu">
				<li><a href="/privacyPolicy">Privacy Policy</a></li>
				<li><a href="/termsConditions">Terms and Conditions</a></li>
				<li><a href="/contact">Contact Us</a></li>
			</ul>
			<p class="copyright">&copy; 2017 Diagnose.Me - A Service by Debonair Database Designers</p>
		</div>
	</div>
</body>
</html>