{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Diagnose.Me</title>
	<link rel="stylesheet" type="text/css" 
	href="{% static 'root/main.css' %}"/>
	<link rel="icon" href="{% static 'root/icon.png' %}">
</head>

<body>
	<div class="header">
		<div class="wrap">
			<div class="logo"></div>
			<div class="clr"></div>
			<br />
			<div class="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/startDiagnosis">Start Diagnosis</a></li>
				<li><a href="/searchDiseases">Search Diseases</a></li>
				<li><a href="/aboutUs">About Us</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
			</div>
			<br />
			<br />
			<br />
		</div>
	</div>
	<div class="border"></div>

	{% if review_list %}
   				<ul>
   			 	{% for remedy_rating in review_list %}
       				<div class="reviewContent">
       					<h3>User: {{ remedy_rating.client.user.username }} </h3>
       					<p>Rating: {{ remedy_rating.rating.score }}</p>
       					<p>Review: {{ remedy_rating.rating.review }}</p>
       				</div>
    			{% endfor %}
    			</ul>
			{% else %}
    		<p>No reviews to display.</p>
	{% endif %}

	<div class="footer">
		<div class="wrap">
			<ul class="footerMenu">
				<li><a href="/privacyPolicy">Privacy Policy</a></li>
				<li><a href="/termsConditions">Terms and Conditions</a></li>
				<li><a href="/contact">Contact Us</a></li>
			</ul>
			<p class="copyright">&copy; 2017 Diagnose.Me - A Service by Debonair Database Designers</p>
		</div>
	</div>
</body>
</html>