{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Diagnose.Me</title>
	<link rel="stylesheet" type="text/css" 
		href="{% static 'root/main.css' %}"/>
	<link rel="icon" href="{% static 'root/icon.png' %}">
</head>

<body>
	<div class="header">
		<div class="wrap">
			{% if user.is_authenticated %}
				<p style="float:right; margin-right: 20px">Signed in as <b><a href="profile">{{user.username}}</a></b>, <a href="/logout_user" style="color: #00a2e8; font-size: 17px">Sign Out?</a></p>
			{% else %}
				<p style="float:right; margin-right: 20px">Welcome! <a href="/" style="color: #00a2e8; font-size: 17px">Sign In</a></p>
			{%endif%}
			<div class="logo"></div>
			<div class="clr"></div>
			<br />
			<div class="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/startDiagnosis">Start Diagnosis</a></li>
				<li><a href="/searchDiseases">Search Diseases</a></li>
				<li><a href="/aboutUs">About Us</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
			</div>
			<br />
			<br />
			<br />
		</div>
	</div>
	<div class="border"></div>

	<div class="wrap">
		<div class="content">
			<h1>Search Diseases</h1>
			<form id="searchform" action="{% url 'illness_list' %}" method="get" accept-charset="utf-8">
      			<input class="searchfield" id="searchbox" name="q" type="text" placeholder="Enter Disease" required>
      			<button class="searchbutton" type="submit">
      				Search 
        			<i class="fa fa-search"></i>
      			</button>
    		</form>
    		<br/>
    		<form id="searchform" action="{% url 'illness_list' %}" method="get" accept-charset="utf-8">
      				<button class="searchbutton" type="submit">
      					Browse Common Diseases
        			<i class="fa fa-search"></i>
      				</button>
      			<input type="hidden" name="prevalence_upper_bound" value="{{ '1000' }}">
      			<input type="hidden" name="prevalence_lower_bound" value="{{ '500' }}">
    		</form>
    		<br/>
    		<form id="searchform" action="{% url 'illness_list' %}" method="get" accept-charset="utf-8">
      				<button class="searchbutton" type="submit">
      					Browse Rare Diseases
        			<i class="fa fa-search"></i>
      				</button>
      			<input type="hidden" name="prevalence_upper_bound" value="{{ '500' }}">
      			<input type="hidden" name="prevalence_lower_bound" value="{{ '0' }}">
    		</form>
    		<br/>
    		<form id="searchform" action="{% url 'illness_list' %}" method="get" accept-charset="utf-8">
      				<button class="searchbutton" type="submit">
      					Browse High Severity Diseases
        			<i class="fa fa-search"></i>
      				</button>
      			<input type="hidden" name="severity_upper_bound" value="{{ '100' }}">
      			<input type="hidden" name="severity_lower_bound" value="{{ '50' }}">
    		</form>
    		<br/>
    		<form id="searchform" action="{% url 'illness_list' %}" method="get" accept-charset="utf-8">
      				<button class="searchbutton" type="submit">
      					Browse Low Severity Diseases
        			<i class="fa fa-search"></i>
      				</button>
      			<input type="hidden" name="severity_upper_bound" value="{{ '50' }}">
      			<input type="hidden" name="severity_lower_bound" value="{{ '0' }}">
    		</form>
    		<br/>
    		<form id="searchform" action="{% url 'illness_list' %}" method="get" accept-charset="utf-8">
      				<button class="searchbutton" type="submit">
      					Browse Hereditary Diseases
        			<i class="fa fa-search"></i>
      				</button>
      			<input type="hidden" name="cause" value="{{ 'hereditary' }}">
    		</form>
    		<br/>
    		<form id="searchform" action="{% url 'illness_list' %}" method="get" accept-charset="utf-8">
      				<button class="searchbutton" type="submit">
      					Browse Bacterial Diseases
        			<i class="fa fa-search"></i>
      				</button>
      			<input type="hidden" name="cause" value="{{ 'bacterial' }}">
    		</form>
		</div>
	</div>
	
	<div class="footer">
		<div class="wrap">
			<ul class="footerMenu">
				<li><a href="/privacyPolicy">Privacy Policy</a></li>
				<li><a href="/termsConditions">Terms and Conditions</a></li>
				<li><a href="/contact">Contact Us</a></li>
			</ul>
			<p class="copyright">&copy; 2017 Diagnose.Me - A Service by Debonair Database Designers</p>
		</div>
	</div>
</body>
</html>